.aside {
    align-self: center;
    max-width: 37.5rem;
    overflow: hidden;
}

@media (min-width: 75rem) {
    .aside {
        max-width: none;
    }
}

.gallery {
    position: relative;
    width: 100%;
}

.slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
}

.imageHolder {
    width: 100%;
    height: 0;
    padding: 0 0 75% 0;
    position: relative;
}

.image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.caption {
    text-align: center;
    line-height: 1.125;
    font-size: 0.875rem;
    padding: 0.75rem;
}

.gallery :global(.flickity-viewport) {
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    outline: none;
    transition: height 0.2s ease-in-out;
}

.gallery :global(.flickity-slider) {
    width: 100%;
    height: 100%;
}

.gallery :global(.flickity-page-dots) {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gallery :global(.dot::after) {
    width: 0.75rem;
    height: 0.75rem;
    content: '';
    background-color: black;
    display: block;
    border-radius: 1rem;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
}

.gallery :global(.dot.is-selected::after) {
    opacity: 0.7;
    width: 1rem;
}
