.aside {
    align-self: center;
    max-width: 37.5rem;
    overflow: hidden;
}

@media (min-width: 75rem) {
    .aside {
        max-width: none;
    }
}

.gallery {
    position: relative;
    width: 100%;
    padding-bottom: 1.25rem;
    max-height: 30.625rem;
    height: 76.08695652vw;
}

@media (min-width: 75rem) {
    .gallery {
        height: auto;
        max-height: none;
    }
}

.slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
}

.imageHolder {
    width: 100%;
    position: relative;
    height: 66.6666666675vw;
    max-height: 28.125rem;
    overflow: hidden;
}

@media (min-width: 75rem) {
    .imageHolder {
        position: relative;
        height: 0;
        max-height: none;
        padding-bottom: 75%;
    }
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

@media (min-width: 75rem) {
    .image {
        position: absolute;
    }
}

.caption {
    text-align: center;
    line-height: 1.125;
    font-size: 0.875rem;
    padding: 0.75rem;
}

.gallery:global(.flickity-enabled) {
    padding-bottom: 0;
    max-height: none;
    height: auto;
}

.gallery :global(.flickity-viewport) {
    background-color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    outline: none;
}

.gallery :global(.flickity-slider) {
    width: 100%;
    height: 100%;
}

.gallery :global(.flickity-page-dots) {
    list-style: none;
    margin: 0;
    padding: 0.5rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gallery :global(.dot::after) {
    width: 0.75rem;
    height: 0.75rem;
    content: '';
    background-color: black;
    display: block;
    border-radius: 1rem;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
}

.gallery :global(.dot.is-selected::after) {
    opacity: 0.7;
    width: 1rem;
}
