.mainText {
    font-family: var(--garamond);
    position: relative;
    font-variant: small-caps;
    font-weight: 500;
}

.subText {
    font-style: italic;
    font-size: 1.1rem;
    position: absolute;
    left: 45%;
    bottom: -1rem;
}

.icon {
    position: absolute;
    top: 2.125rem;
    right: 2.25rem;
}
