.tag {
    font-family: var(--garamond);
    position: relative;
    font-variant: small-caps;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
}

.subText {
    font-style: italic;
    font-size: 1.1rem;
    display: flex;
    margin-top: -0.5rem;
    margin-left: 10rem;
}
