:root {
    --background-color: #F7F7F7;
    --color: #1c1c1b;
    --link-color-hover: rgba(190,80,39,1);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1b;
        --color: #FFFFFF;
        --link-color-hover: rgba(190,80,39,1);
    }

    html {
        color-scheme: dark;
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
        scroll-behavior: auto;
    }

    *:not(.animates-without-motion),
    *:not(.animates-without-motion)::before,
    *:not(.animates-without-motion)::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--montserrat);
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
    padding: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--garamond);
    font-weight: 600;
    line-height: 1em;
}

a {
    color: inherit;
    transition: color 0.2s ease-in-out;
}

a:hover, a:focus {
    color: var(--link-color-hover);
}

.visually-hidden, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    gap: 1rem;
    max-width: 37.5rem;
    margin: 0 auto;
}

@media (min-width: 75rem) {
    body {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    .layout {
        display: grid;
        grid-template-columns: minmax(30rem, 1fr) 2fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "header aside"
        "main aside"
        "footer aside";
    }
}
